<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <h1>ATEA-homework</h1>
    <h2>Task description:</h2>
    <h3>Using the Any public weather API receive data (country, city, temperature, clouds, wind speed) from at least 10 cities in 5 countries
        with periodical update 1 /15 min, store this data in the SQL database (can be used any SQL database) and show the 2 graphs:
    </h3>
    <ul>
        <li>min temperature (Country\City\Temperature\Last update time)</li>
        <li>highest wind speed (Country\City\Wind Speed\Last update time)</li>
        <li>temperature & wind speed trend for last 2 hours on click for both previous graphs</li>
    </ul>
    <h3>What should be used: ASP.NET CORE MVC, C#, JavaScript</h3>

</body>
</html>